.home-page-container {
    width: clamp(100px, 90%, 900px);
    margin: 70px auto 0 auto;
}

.hero {
    text-align: center;
}

.YearSection > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SemesterSection {
    margin: 0 0.7rem;
    flex-grow: 1;
}

.SectionButtonLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.SectionButton {
    background: #000;
    position: relative;
    padding: 0.9rem;
    border-radius: var(--border-radius);
    width: 100%;
    min-width: 170px;
    height: 7rem;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    border-color: var(--primary-color);
    box-shadow: 0 5px 15px var(--box-shadow-color);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.SectionButton:hover {
    box-shadow: 0 5px 15px var(--box-shadow-hover-color);
}

.SectionButton span:first-child {
    font-size: 2rem;
}

.SectionButton img {
    width: 5rem;
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
}

.SectionButtonText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.SectionButton.SectionButtonLong {
    grid-column: 1 / 3;
}
